main{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .container{
    width: 60vw;
    height: 60vh;
}

.img_car{
    width: 60rem;
    height: 30rem;
}

@media only screen and (max-width:640px){
    main .container{
        width: 94vw;
        height: 65vh;
    }

    .head5 h5{
        font-size: 1rem;
    }
    .head5 p{
        font-size: 1rem;
    }

    .btn_user{
        width: 10rem;
        height: 2.5rem;
    }
}