*{
    margin: 0;padding: 0;
}

body{
    background-image: url(images/background2.jpg);
}

.countdown{
    width: 30rem;
    height: 30rem;
    margin-top: 3rem;
}

.navbar a{
    margin-right: 1rem;
}

.navbar-nav a:hover{
    border-bottom: 2px solid aqua;
}



footer{
    /* border:2px solid green; */
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
}



.logo img{
    width: 3rem;
    height: 2rem;
    padding: 0 .5rem;
}

.logo img:hover{
    width: 3.25rem;
    height: 2.25rem;
}

.main{
    height: 35rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.main-tm{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}


.main img{
    width: 23rem;
    height: 23rem;
    display: block;
    margin-bottom: 0%;
    z-index: 0;
}

#imgid{
    animation: glowanimate 4s infinite;
}



main img{
    width: 10rem;
    height: 10rem;
    /* animation: animator 1s infinite; */
}


.animation{
    animation: animator 4s infinite;
}

@media screen and (max-width:640px){
    footer{
        /* border:2px solid green; */
        height: 6vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar{
        background-color: black;
    }

    .main{
        height: 60vh;
        width: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .countdown{
        width: 23rem;
        height: 20rem;
        margin-top: 5rem;
    }


    .main img{
        margin-top: 3rem;
        width: 35vh;
        height: 35vh;
        animation: mainanime 1s infinite;
    }

    .hid{
        display: none;
    }
    .navbar-brand{
        margin-left: 0rem;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : portrait){
    footer{
        /* border:2px solid green; */
        height: 6vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main{
        height: 60vh;
        width: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .main img{
        margin-top: 2rem;
        width: 40vh;
        height: 40vh;
        animation: mainanime 1s infinite;
    }

    .countdown{
        width: 30rem;
        height: 20rem;
        margin-top: 5rem;
    }

    .hid{
        display: none;
    }
}


@keyframes animator {
    50%{
        width: 12rem;
        height: 12rem;
        filter: drop-shadow(0 0 2.75rem rgb(255, 255, 255));
        transform: scaleX(1) scaleY(1) scaleZ(1);
    }
    100%{
        width: 10rem;
        height: 10rem;

    }
}

@keyframes glowanimate {
    50%{
        filter: drop-shadow(0 0 2.75rem rgb(255, 255, 255));
    }
}

@keyframes mainanime {
    0% {
        width: 25rem;
        height: 25rem;
    }

    100% {
        width: 30rem;
        height: 30rem;
    }
}